.side-info {
  padding: 10px;
  text-align: right;
}
.log-form {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.log-form > label,
.log-form > input {
  display: block;
  width: 100%;
  padding: 5px;
}

.log-form > button {
  display: block;
  margin: 10px auto;
  justify-self: center;
  width: 20%;
}

.log-form > p {
  width: 100%;
  text-align: center;
}

.clickable {
  padding: 5px;
  box-shadow: 0px 0px 2px 1px var(--main-color);
  background-color: var(--second-color);
}
