.timer-container {
  position: relative;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid var(--main-color) 10px;
  border-radius: 50%;
  text-align: center;
  margin: 5vh auto;
  /* animation: timer-animation linear infinite 1s alternate-reverse; */
}

#label-input {
  position: relative;
  display: block;
  padding: 5px;
  margin: 0 auto 0;
  text-align: center;
}

.timer-time {
  font-size: 2rem;
  padding: 5px;
}

.timer-type {
  font-size: 1.2rem;
  padding: 5px;
}

.timer-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  color: var(--main-color);
}

.timer-reset,
.timer-start {
  display: block;
  cursor: pointer;
}

.timer-reset {
  font-size: 1rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  padding: 10px;
}

.timer-start {
  width: 3rem;
  font-size: 3rem;
  transform: translateX(50%);
}

.add-record-form-label {
  text-align: right;
  width: 90%;
  margin: auto;
  padding: 10% 5px 5%;
}

.add-record-form-label > strong {
  cursor: pointer;
}

@media (min-width: 1025px) {
  .timer {
    width: 300px;
    height: 300px;
    border-width: 15px;
  }
  .timer-start {
    width: 3.5rem;
    font-size: 3.5rem;
  }
}

@keyframes timer-animation {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}
