.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid var(--main-color) 10px;
  border-radius: 50%;
  text-align: center;
  margin: 5vh auto;
  animation: timer-animation linear infinite 1s alternate-reverse;
}

#label-input {
  position: relative;
  display: block;
  padding: 5px;
  margin: 0 auto 0;
  text-align: center;
}

.timer-time {
  font-size: 2rem;
  padding: 5px;
}

.timer-type {
  font-size: 1.2rem;
  padding: 5px;
}

.timer-start {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: var(--main-color);
}

@keyframes timer-animation {
  0% {
    border-width: 8px;
  }

  100% {
    border-width: 15px;
  }
}
