.menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}

.menu-item {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  background-color: #7f668f;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.menu-item:hover {
  filter: brightness(1.2);
}
