.slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10% 0;
}

.slider-input {
  display: block;
  width: 100%;
  height: 2px;
}

/* .slider-label {
} */
