.menu {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
}

.log-panel {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: var(--main-color);
  color: white;
  letter-spacing: 2px;
}

.log-panel > p {
  width: 50%;
  align-self: center;
}

.log-panel > button {
  display: block;
  padding: 5px;
  transition: 0.2s;
}

.log-panel > button:hover {
  transform: scale(1.1);
}

.menu-item {
  flex-basis: 33%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.menu-item:hover {
  filter: brightness(1.2);
}

.menu-inactive {
  color: #bbb;
}

.menu-inactive:hover {
  filter: none;
}

@media (min-width: 568px) {
  .menu-item {
    height: 60%;
  }
}
