table {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}

tr,
th {
  display: flex;
  width: 100%;
  justify-content: center;
}

td {
  flex-basis: 33%;
  flex-grow: 1;
}

th,
td {
  border-bottom: 1px solid var(--main-color);

  line-height: 1.5;
}
