table {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
}

tr,
th {
  display: flex;
  width: 100%;
  justify-content: center;
}

td {
  flex-basis: 33%;
  flex-grow: 1;
}

th,
td {
  border-bottom: 1px solid var(--main-color);

  line-height: 1.5;
}

.stats-overview {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stats-overview > div {
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 2.5%;
  margin: 1%;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px var(--second-color);
}

.stats-overview > div > p {
  width: 100%;
  text-align: center;
  padding: 2.5%;
}
